.wow-enter {
  opacity: 0;
}

.wow-enter-active {
  opacity: 0;
  background-color: blue;
  transition: all 100ms;
}

.my-alert {
  background-color: burlywood;
}

.popUp {
  max-width: 300px;
  background-color: cadetblue;
  color: bisque;
  display: flex;
  img {
    max-width: 300px;
  }
}
